%div{ class: "content-container #{content&.background ? content&.background : 'white'}-bg" }
  .container
    .column
      .title
        GitLab ranked leader in CI/CD by Forrester
      .description
        Learn why GitLab was evaluated as a Leader by independent research firm
      = image_tag "/images/devops-tools/forrester.png", class: "margin-top10"
      = link_to "Read more", "/resources/forrester-wave-ci-2017/", class: "read-more"
